/* src/renderer/components/Tabs/Tabs.css */

.tabs-container {
    display: flex;
    background-color: var(--bg-tabs-container);
    height: 35px;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-item {
    display: flex;
    align-items: center;
    padding: 0 8px 0 12px;
    background-color: var(--bg-inactive-tab);
    border-right: 1px solid var(--border-color-dark);
    cursor: pointer;
    color: var(--text-color-subtle);
    font-size: 13px;
    white-space: nowrap;
    transition: background-color 0.1s ease-in-out;
}

.tab-item:not(.active):hover {
    background-color: var(--bg-hover);
}

.tab-item.active {
    background-color: var(--bg-editor);
    color: var(--text-color-light);
}

.tab-title {
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.close-tab-btn {
    background: none;
    border: none;
    color: transparent;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    padding: 0;
    transition: all 0.1s ease-in-out;
}

.tab-item:hover .close-tab-btn,
.tab-item.active .close-tab-btn {
    color: var(--text-color);
}

.close-tab-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}