/* src/renderer/components/StatusBar/StatusBar.css */
.status-bar-container {
    display: flex;
    align-items: center;
    background-color: var(--accent-color); /* 使用变量 */
    color: var(--bg-color-highlight); /* 文字用暗色，对比更强 */
    font-weight: 600;
    height: 22px;
    padding: 0 15px;
    font-size: 12px;
    flex-shrink: 0;
    border-top: 1px solid var(--border-color);
}

.status-item {
    margin-right: 20px;
}