/* src/renderer/features/workbench/components/TitleBar/TitleBar.css */
#title-bar {
    -webkit-app-region: drag;
    height: 32px;
    background-color: var(--bg-titlebar);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

#menu-bar {
    -webkit-app-region: no-drag;
    display: flex;
}
.menu-item {
    position: relative;
    padding: 0 12px;
    line-height: 32px;
    cursor: pointer;
    font-size: 14px;
}
.menu-item:hover { background-color: var(--bg-hover); }
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-panel);
    border: 1px solid var(--border-color-light);
    min-width: 200px;
    z-index: 1000;
    padding: 5px 0;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.3);
}
.menu-item:hover .submenu { display: block; }
.submenu-item {
    padding: 8px 20px;
    color: var(--text-color);
    font-size: 14px;
}
.submenu-item:hover {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

.submenu-separator {
    border: 0;
    height: 1px;
    background-color: var(--border-color-light);
    margin: 5px 0;
}

#title {
    -webkit-app-region: drag;
    padding-left: 12px;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    display: flex;
}

#title-bar-btns button {
    width: 46px;
    height: 32px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
#title-bar-btns button:hover { background-color: var(--bg-hover); }
#close-btn:hover {
    background-color: var(--danger-color);
    color: white;
}