/* src/renderer/features/workbench/components/StatusBar/StatusBar.css */
.status-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-titlebar);
    color: var(--text-color);
    font-weight: 600;
    height: 22px;
    padding: 0 10px;
    font-size: 12px;
    flex-shrink: 0;
    border-top: 1px solid var(--border-color-light);
}
.status-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.status-group-left { justify-content: flex-start;}
.status-group-right { justify-content: flex-end;}
.status-item {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 0 5px;
    border-radius: 3px;
    transition: background-color 0.15s;
}
.status-item.hover-bright:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color-light);
    cursor: default;
}